In [5]:
import pandas as pd
import math 
import numpy as np 
import datetime

In [6]:
# importo file run.22 e creo la lista con i nomi delle colonne 
colNamesInitData=['40Ar F', 'err40Ar F', '38Ar IC0', 'err38Ar IC0', '36Ar IC1', 'err36Ar IC1','38Ar F', 'err38Ar F','36Ar IC0', 'err36Ar IC0 ', '39Ar F', 'err39Ar F', '37Ar IC0', 'err37Ar IC0' , '35Cl IC1', 'err35Cl IC1', 'gainIC0/IC1', 'err gainIC0/IC1' , '40F/36IC1',  'err 40F/36IC1',  '40F/36IC0' ,'err 40F/36IC0', 'Run', 'Path']
colnames_numeric = ['40Ar F', 'err40Ar F', '38Ar IC0', 'err38Ar IC0', '36Ar IC1', 'err36Ar IC1','38Ar F', 'err38Ar F','36Ar IC0', 'err36Ar IC0 ', '39Ar F', 'err39Ar F', '37Ar IC0', 'err37Ar IC0' , '35Cl IC1', 'err35Cl IC1', 'gainIC0/IC1', 'err gainIC0/IC1' , '40F/36IC1',  'err 40F/36IC1',  '40F/36IC0' ,'err 40F/36IC0']

In [7]:
filePath = "../test_data/Run22.txt"
# filePath = "C:\\Users\\teres\\Documents\\PyCalcolAr\\test_data\\Run22.txt"
df_initData = pd.read_csv(filePath, header = None, names = colNamesInitData)

In [10]:
# airpipette_utilData.replace(to_replace = ["{", "}"], value = "", inplace=True, regex=True)
df_utilData = df_initData.replace(["{", "}"], ["", ""], regex=True)

#convertire tutte le colonne del dataframe a numeric (float64)
for i in range(len(colnames_numeric)):
    df_utilData[colnames_numeric[i]] = pd.to_numeric(df_utilData[colnames_numeric[i]])

In [11]:
#creare due nuove colonne per nome run data e ora
series_dataora = df_utilData['Run'].str.split(" run on ")
run_name = series_dataora.str[0]
run_name = run_name.replace(["'"], [""], regex=True)

series_dataora = series_dataora.str[1]

for i in range(series_dataora.size):
    series_dataora[i] = datetime.datetime.strptime(series_dataora[i], '%d %B %Y at %H:%M')

dataora_df = pd.DataFrame(series_dataora)
dataora_df.columns = ['Data Time']
run_name = pd.DataFrame(run_name)
run_name.columns = ['Run Name']

# most_recent_data = series_dataora.max()
df_finalData = pd.concat([run_name, dataora_df, df_utilData], axis = 1)


print (df_finalData)

             Run Name            Data Time     40Ar F  err40Ar F  38Ar IC0  \
0     PHALABORWA STP4  2015-05-19 13:32:00   7.416700   0.002500  0.001269
1     PHALABORWA STP5  2015-05-19 13:55:00   6.614000   0.002300  0.001036
2     PHALABORWA STP6  2015-05-19 14:19:00   9.369080   0.003800  0.001380
3     PHALABORWA STP8  2015-05-19 15:12:00   8.058740   0.003000  0.001139
4     PHALABORWA STP9  2015-05-19 15:37:00  11.968100   0.004600  0.001673
...               ...                  ...        ...        ...       ...
1333   BAL-T12 LG ST2  2020-06-23 15:31:00   0.426141   0.000120  0.003709
1334   BAL-T12 LG ST3  2020-06-23 15:57:00   0.224427   0.000066  0.003784
1335   BAL-T12 LG ST6  2020-06-23 17:08:00   0.421204   0.000130  0.004853
1336      BAL-T12 ST7  2020-06-23 17:26:00   0.585912   0.000160  0.011360
1337      Sample Name  2020-06-23 17:54:00   0.605563   0.000170  0.012759

       err38Ar IC0  36Ar IC1   err36Ar IC1    38Ar F  err38Ar F  ...  \
0     6.900000e-07  0.001755  3.000000e-06  0.000694   0.000016  ...
1     6.900000e-07  0.001198  2.100000e-06  0.000668   0.000016  ...
2     7.100000e-07  0.001129  1.700000e-06  0.000993   0.000020  ...
3     6.800000e-07  0.000528  7.100000e-07  0.000906   0.000020  ...
4     1.000000e-06  0.000496  7.000000e-07  0.001193   0.000026  ...
...            ...       ...           ...       ...        ...  ...
1333  2.600000e-06  0.000883  7.200000e-07  0.004290   0.000017  ...
1334  2.800000e-06  0.000268  4.000000e-07  0.004378   0.000017  ...
1335  3.600000e-06  0.000743  7.200000e-07  0.005579   0.000016  ...
1336  1.100000e-05  0.000572  6.300000e-07  0.012936   0.000016  ...
1337  1.100000e-05  0.000492  7.100000e-07  0.014504   0.000017  ...

      35Cl IC1   err35Cl IC1  gainIC0/IC1  err gainIC0/IC1  40F/36IC1  \
0     0.000013  6.400000e-08     1.151210           0.0021   4225.330
1     0.000012  6.300000e-08     1.177690           0.0021   5519.020
2     0.000013  6.700000e-08     1.178730           0.0019   8300.450
3     0.000013  5.400000e-08     1.250590           0.0019  15268.100
4     0.000013  6.500000e-08     1.249520           0.0020  24117.300
...        ...           ...          ...              ...        ...
1333  0.000018  1.100000e-07     0.997925           0.0012    482.535
1334  0.000018  1.100000e-07     1.003020           0.0022    838.663
1335  0.000018  1.000000e-07     1.008230           0.0013    567.014
1336  0.000019  1.100000e-07     1.015770           0.0016   1024.300
1337  0.000019  1.300000e-07     1.021820           0.0018   1230.700

      err 40F/36IC1  40F/36IC0  err 40F/36IC0  \
0              7.50   3670.350           2.10
1              9.80   4686.290           2.90
2             13.00   7041.880           4.60
3             21.00  12208.700           9.40
4             35.00  19301.300          18.00
...             ...        ...            ...
1333           0.42    483.538           0.46
1334           1.30    836.139           1.30
1335           0.58    562.386           0.54
1336           1.20   1008.400           1.20
1337           1.80   1204.420           1.40

                                                Run  \
0     'PHALABORWA STP4' run on 19 May 2015 at 13:32
1     'PHALABORWA STP5' run on 19 May 2015 at 13:55
2     'PHALABORWA STP6' run on 19 May 2015 at 14:19
3     'PHALABORWA STP8' run on 19 May 2015 at 15:12
4     'PHALABORWA STP9' run on 19 May 2015 at 15:37
...                                             ...
1333  'BAL-T12 LG ST2' run on 23 June 2020 at 15:31
1334  'BAL-T12 LG ST3' run on 23 June 2020 at 15:57
1335  'BAL-T12 LG ST6' run on 23 June 2020 at 17:08
1336     'BAL-T12 ST7' run on 23 June 2020 at 17:26
1337     'Sample Name' run on 23 June 2020 at 17:54

                                                   Path
0      Raw data stored in - C:\Nu Noble\Results\Data...
1      Raw data stored in - C:\Nu Noble\Results\Data...
2      Raw data stored in - C:\Nu Noble\Results\Data...
3      Raw data stored in - C:\Nu Noble\Results\Data...
4      Raw data stored in - C:\Nu Noble\Results\Data...
...                                                 ...
1333   Raw data stored in - C:\Nu Noble\Results\Data...
1334   Raw data stored in - C:\Nu Noble\Results\Data...
1335   Raw data stored in - C:\Nu Noble\Results\Data...
1336   Raw data stored in - C:\Nu Noble\Results\Data...
1337   Raw data stored in - C:\Nu Noble\Results\Data...

[1338 rows x 26 columns]

In [14]:
df_finalData.drop('Run',axis=1, inplace=True)

print(df_finalData)

             Run Name            Data Time     40Ar F  err40Ar F  38Ar IC0  \
0     PHALABORWA STP4  2015-05-19 13:32:00   7.416700   0.002500  0.001269
1     PHALABORWA STP5  2015-05-19 13:55:00   6.614000   0.002300  0.001036
2     PHALABORWA STP6  2015-05-19 14:19:00   9.369080   0.003800  0.001380
3     PHALABORWA STP8  2015-05-19 15:12:00   8.058740   0.003000  0.001139
4     PHALABORWA STP9  2015-05-19 15:37:00  11.968100   0.004600  0.001673
...               ...                  ...        ...        ...       ...
1333   BAL-T12 LG ST2  2020-06-23 15:31:00   0.426141   0.000120  0.003709
1334   BAL-T12 LG ST3  2020-06-23 15:57:00   0.224427   0.000066  0.003784
1335   BAL-T12 LG ST6  2020-06-23 17:08:00   0.421204   0.000130  0.004853
1336      BAL-T12 ST7  2020-06-23 17:26:00   0.585912   0.000160  0.011360
1337      Sample Name  2020-06-23 17:54:00   0.605563   0.000170  0.012759

       err38Ar IC0  36Ar IC1   err36Ar IC1    38Ar F  err38Ar F  ...  \
0     6.900000e-07  0.001755  3.000000e-06  0.000694   0.000016  ...
1     6.900000e-07  0.001198  2.100000e-06  0.000668   0.000016  ...
2     7.100000e-07  0.001129  1.700000e-06  0.000993   0.000020  ...
3     6.800000e-07  0.000528  7.100000e-07  0.000906   0.000020  ...
4     1.000000e-06  0.000496  7.000000e-07  0.001193   0.000026  ...
...            ...       ...           ...       ...        ...  ...
1333  2.600000e-06  0.000883  7.200000e-07  0.004290   0.000017  ...
1334  2.800000e-06  0.000268  4.000000e-07  0.004378   0.000017  ...
1335  3.600000e-06  0.000743  7.200000e-07  0.005579   0.000016  ...
1336  1.100000e-05  0.000572  6.300000e-07  0.012936   0.000016  ...
1337  1.100000e-05  0.000492  7.100000e-07  0.014504   0.000017  ...

       err37Ar IC0  35Cl IC1   err35Cl IC1  gainIC0/IC1  err gainIC0/IC1  \
0     4.900000e-08  0.000013  6.400000e-08     1.151210           0.0021
1     5.100000e-08  0.000012  6.300000e-08     1.177690           0.0021
2     5.200000e-08  0.000013  6.700000e-08     1.178730           0.0019
3     5.000000e-08  0.000013  5.400000e-08     1.250590           0.0019
4     5.600000e-08  0.000013  6.500000e-08     1.249520           0.0020
...            ...       ...           ...          ...              ...
1333  9.300000e-08  0.000018  1.100000e-07     0.997925           0.0012
1334  7.600000e-08  0.000018  1.100000e-07     1.003020           0.0022
1335  9.200000e-08  0.000018  1.000000e-07     1.008230           0.0013
1336  7.800000e-08  0.000019  1.100000e-07     1.015770           0.0016
1337  7.900000e-08  0.000019  1.300000e-07     1.021820           0.0018

      40F/36IC1  err 40F/36IC1  40F/36IC0  err 40F/36IC0  \
0      4225.330           7.50   3670.350           2.10
1      5519.020           9.80   4686.290           2.90
2      8300.450          13.00   7041.880           4.60
3     15268.100          21.00  12208.700           9.40
4     24117.300          35.00  19301.300          18.00
...         ...            ...        ...            ...
1333    482.535           0.42    483.538           0.46
1334    838.663           1.30    836.139           1.30
1335    567.014           0.58    562.386           0.54
1336   1024.300           1.20   1008.400           1.20
1337   1230.700           1.80   1204.420           1.40

                                                   Path
0      Raw data stored in - C:\Nu Noble\Results\Data...
1      Raw data stored in - C:\Nu Noble\Results\Data...
2      Raw data stored in - C:\Nu Noble\Results\Data...
3      Raw data stored in - C:\Nu Noble\Results\Data...
4      Raw data stored in - C:\Nu Noble\Results\Data...
...                                                 ...
1333   Raw data stored in - C:\Nu Noble\Results\Data...
1334   Raw data stored in - C:\Nu Noble\Results\Data...
1335   Raw data stored in - C:\Nu Noble\Results\Data...
1336   Raw data stored in - C:\Nu Noble\Results\Data...
1337   Raw data stored in - C:\Nu Noble\Results\Data...

[1338 rows x 25 columns]

NameError: name 'df_finalData' is not defined